body {
    margin: 0;
    background-color: #7E8D85;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
}

.calculator-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    background-color: #60495A;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 6px 7px 7px 0px;
}

.display {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    background-color: #FAFAFA;
    width: 470px;
    height: 110px;
    font-family: monospace;
    text-align: right;
    line-height: 110px;
    font-size: 65px;
    border-radius: 10px;
    border: solid;
    border-color: black;
    border-width: 3px;
    opacity: 80%;
    box-shadow: 4px 4px 4px inset;
}

.keypad {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
    width: 470px;
    height: 445px;
   
}

.key {
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 30px;
    background-color: #CB8589;
    box-shadow: 1px 2px 2px 0px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #f0bbbe;
    transform: scale(1.05);
}